*{
	box-sizing: border-box;
}

body{
	font-family: 'Titillium Web', sans-serif;
	font-size: 13px;
	line-height: 1.2;
	text-align:center;
	color: #555;
	font-size: 62.5%;
		
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}

p{
	font-size:1.6em;
}

h1, h2, h3, h4, a{
	font-family: 'Teko', sans-serif;
	font-weight: 400;
	text-transform: uppercase;	
	color:#000;
}

h1{ font-weight: 300;
	color: #fff;
	letter-spacing: 13px;
	font-size:12em;
}

h2{ font-size: 4.0em;
	letter-spacing: 3px;
    margin-top:30px;
}

h3{	display: inline-block;
	font-size: 3.0em;
    letter-spacing: 2px;
    margin-bottom:10px;
}

a{
	text-decoration: none;
	display:inline-block;
	font-size:2.0em;
}

ul li{
	display:inline-block;
}

a.mainAction{  

	font-family: 'Teko', sans-serif;
	font-weight:400;
	padding: 10px 50px;
	background:#fff;
	margin: 20px 0;
	text-transform:uppercase;
	letter-spacing: 3px;
}

a.mainAction:hover{
	color:#fff;
	background:#000;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
	width: 70%;
}

/** Header **/

.logo{
	float:left;
	width:70px;
	height:70px;
}

.mainNav{
	float:right;
}

.mainNav ul li {
	display:inline-block;
	margin: 0 20px;
	padding: 24.5px 0;
}

.mainNav ul li.active{
	border-bottom: solid #f63c3c 5px;
}

.mainNav a{
	font-family: 'Titillium Web', sans-serif;
	font-size:1.4em;
	text-transform:capitalize;
}
.mainNav ul li.active a{
	color:#f63c3c;
}

.mainNav ul li:hover{
	border-bottom: solid #f63c3c 5px;
}

.mainNav a:hover{
	color:#f63c3c;
}

/** Main Carousel **/

#mainCarousel{
	position:relative;
	width:100%;
	overflow:hidden;

}

#slider{
	width:100%;
	height:800px;
	position:relative;
	overflow:hidden;
	float:left;

}

.dimmer{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0,0,0, 0.5);
}


.slide{
	position:absolute;
}


.slideNav{
	height: 3px;
	width: 30px;
	background:#000;
	opacity:.2;
	margin-right: 6px;
}

div.carouselContent {
  position:absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

/**still need margin to center a smaller width for p tag than container **/
div.carouselContent p{
	color:#d7d6d8;
	font-size:2.0em;
	width:65%;
	margin:10px auto;
}



#mainCarousel nav{
	position:absolute;
	left: 50%;	
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  	-moz-transform: translateX(-50%);
  	-o-transform: translateX(-50%);	
	bottom:5%;
	z-index: 2;
}

#mainCarousel nav ul li{
	height: 3px;
	width: 30px;
	background:#fff;
	opacity:.2;
	margin-right: 6px;

}

#mainCarousel nav ul li:last-child{
	margin-right:0;
}

#mainCarousel nav ul li.active{
	opacity:1.0;
}

/** Projects **/
/** add additional div for articles **/
.projects{
	margin: 0 auto;
	width:98%;
}

.projects h2{
	margin-bottom:25px;
}

.projects div article{
	margin-right:1%;
	float:left;
	width:49.5%;
}

.projects div article:nth-child(even){
	margin-right:0%;
}

.projects article a{
	margin:0;
	padding:0;
}

article img{
    width:100%;
}

article div{
	margin:10px auto 20px;
	width:55%;
}

section.projects > a{
	font-size:18px;
	margin:30px auto 70px;
	border-bottom: solid  #f63c3c 4px;
	padding-bottom:5px;
	letter-spacing: 1px;
	color: #f63c3c;
}

section.projects > a:hover{
	border-bottom: solid  #999 4px;
	color: #999;
}

figure {
  display: inline-block;
  position: relative;
  overflow:hidden;
}

figure a {
  display: block;
}

figure:hover:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

figcaption {
  position: absolute;
  height:100%;
  background-color: red;
  bottom:100%;
  width:100%;
  border: 20px solid black;
  transition: bottom 0.5s ease;
  -webkit-transition: bottom 0.5s ease;
  -moz-transition: bottom 0.5s ease;
  -o-transition: bottom 0.5s ease;
}



figure:hover figcaption {
	bottom:0;
}

figcaption time{
	display:block;
	margin-top:130px;
	color:white;
	font-weight: 300;
	letter-spacing:3px;
}

figcaption h4{
	color:white;
	font-size: 2.4em;
	font-weight: 300;
	letter-spacing:3px;
}


figcaption p{
	position:absolute;

	font-family: 'Teko', sans-serif;
	color:white;
	font-size: 1.8em;
	text-transform:uppercase;
	font-weight: 300;
	letter-spacing:1px;
	left: 50%;	
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  	-moz-transform: translateX(-50%);
  	-o-transform: translateX(-50%);	
	bottom:25%;
	
}


/** Call to Action**/


.callAction{
	background:#f63c3c;
	color: #fba0a0;
	padding: 15px 0;
	
}

.callAction h2{
	font-weight:300;
	color:#fff;
	margin-bottom:6px;
}


/** Stay Connected**/

/*FIXX  gray background!!!!!!!!!!!!!**/
aside{
	text-align:left;
	background:#fafafa;
	padding:10px 0;
}

aside ul{
	text-align:center;
	margin:50px auto;
}

aside li{
	display:inline-block;
	background:#000;
	width:23%;
	color:#fff;
	margin-right:2%;
}


aside li:last-child{ 
	margin-right:0;
}

aside a{
	display:block;
	padding: 50px 0;
	font-size: 3.0em;
	background:#000;
	text-decoration:none;
	color:#fff;
	position: relative;
	text-transform:uppercase;
	letter-spacing: 3px;
	font-weight: 300;
}

aside a:hover{
	background:#999;
}


i.fa {
	color:#fff;
	display:block;
    font-size: 35px;
    margin-bottom: 10px;
}

/** Footer**/
footer{
	text-align:left;
}

footer p{
	font-size:1.3em;

}
	footer.container{
	padding:10px 0 20px;
}